In [43]:
a=5
b=5
try:
    print(a/b)
except Exception as e:
    print("No, It's not possible")

1.0

In [47]:
try:
    a=1
    b=0
    print(a/c)
except NameError as e:
    print("dont / by 0")

dont / by 0

In [15]:
try:
    a=10
    b=0
    print(a/c)
except NameError:
    print("name error")
except ZeroDivisionError:
    print("pls enter valid input ")

name error

In [19]:
a=3
b=0
print(a/c)

NameError: name 'c' is not defined

In [35]:
a=3
b=0
try:
    print(a/c)
# except Exception:
#     print("nameError")
except Exception:
    print("ZeroDivision Error")

ZeroDivision Error

In [41]:
a=8
b=0
try:
    print(a/b)
except NameError:
    print("This is NameError")
except ZeroDivisionError:
    print("This is ZeroDivisionError")

This is ZeroDivisionError

In [53]:
a=9
b=0
try:
    print(a/c)
except NameError as e:
    print(e)

name 'c' is not defined

In [60]:

try:
    num = int(input("Enter a number: "))
    result = 10 / num
    print("Result:", result)
except ValueError:
    print("Error: Invalid input")
except ZeroDivisionError:
    print("Error: Cannot divide by zero")
finally:
    print("Execution completed (Success or Failure)")  # Runs no matter what

Enter a number:  4

Result: 2.5
Execution completed (Success or Failure)

In [82]:
a=8
b=2
try:
    print(a/b)
    c=int(input("Enter c value:"))
    print(a/d)
except  NameError :
    print("variable name is not defined")
except  ValueError:
    print("value is not acccept")
except  ZeroDivisionError:
    print("Zero cannot be divided by anything")
finally:
    print("Execution completed")

4.0

Enter c value: 2

variable name is not defined
Execution completed